
@import url('https://fonts.googleapis.com/css2?family=REM&family=Short+Stack&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: max-content;
}

body {
  font-family: 'Short Stack', cursive;
}

h1 {
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);
}

h2 {
  text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.4);
}

.success-message {
  display: none;
  color: green;
  font-family: 'Short Stack', cursive;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 1.5rem 1.5rem 0.6rem;
  border-radius: 80px;
  padding: 10px;
}

button {
  font-family: 'Short Stack', cursive;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 80px;
  color: #000;
  padding: 10px;
  box-shadow: 0 0 40px 40px rgba(183, 183, 250, 0.9) inset, 0 0 0 0 rgb(133, 133, 243, 0.9);
  transition: all 0.8s ease-in-out;

  &:hover {
    box-shadow: 0 0 40px 0 rgba(20, 51, 189, 0.6) inset, 0 0 15px 10px rgba(122, 122, 239, 0.6);
  }

  &:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
    background-color: greenyellow;
  }
}

main {
  margin: 5%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  align-self: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  padding: 2.5rem 5rem 2.5rem 3rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 1.5rem 1.5rem 0.6rem;
  background-color: rgba(99, 121, 218, 0.975);
  background-image: linear-gradient(to bottom right, rgba(20, 51, 189, 0.8), rgb(182, 189, 245));
}

.boxing {
  padding: 10px 0 0 20px;
  gap: 4rem;
  display: flex;
  flex-direction: column;
}

.scores {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.Recent {
  display: flex;
  gap: 50px;
}

.refresh {
  height: min-content;
}

.scorelist {
  border: solid rgba(0, 0, 0, 0.2) 0.4px;
  box-shadow: rgba(0, 0, 0, 0.2) 1rem 1rem 0.6rem;
  border-radius: 10px;
}

.scorelist > li {
  padding: 3px 1px 3px 10px;
}

.scorelist > li:nth-child(even) {
  background-color: #fff;
}

.scorelist > li:nth-child(odd) {
  background-color: #cbcbcbe0;
  background-image: linear-gradient(to right, lightgrey, lightgrey, white);
}

.scorelist > li:first-child {
  border-radius: 10px 10px 0 0;
  border: #000;
}

.scorelist > li:last-child {
  border-radius: 0 0 10px 10px;
  border: #000;
}

.addscores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#submit {
  display: flex;
  align-self: flex-end;
}

input::placeholder {
  font-weight: bold;
  font-family: 'Short Stack', cursive;
}

input {
  padding: 4px 2px 4px 10px;
  border: rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.2) 0.5rem 0.5rem 0.3rem;
  border-radius: 2rem;
  height: 2.5rem;
  font-weight: bold;
  font-family: 'Short Stack', cursive;

  input:focus {
    border: rgba(0, 0, 0, 0.9);
    padding: 6px 3px 5px 60px;
    margin: 10px;
  }
}

input[type=text]:focus {
  font-weight: bold;
  font-family: 'Short Stack', cursive;
}

@media screen and (min-width: 768px) {
  .boxing {
    display: flex;
    gap: 8rem;
    flex-direction: row;
    padding: 30px;
  }

  #YourName {
    transition: 2s;
    width: 10rem;

    &:hover {
      border: solid 5px rgba(100, 100, 100, 0.3);
      width: 12rem;
    }
  }

  #YourScore {
    transition: 2s;
    width: 10rem;

    &:hover {
      border: solid 5px rgba(100, 100, 100, 0.3);
      width: 7rem;
    }
  }
}
